<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Informes_Integrasens.Properties.Settings.IntegrasensConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Integrasens.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="ficheroInformeConfigPreg" value="FicheroPreguntasInforme.xml"/>
    <add key="nodePreg7a35meses" value="pregunta"/>
    <add key="nodeInf7a35meses" value="i7a35meses"/>
    <add key="nodeText7a35meses" value="texto"/>
  </appSettings>
</configuration>